<div class="row">
  <div class="container-accordion">
    <v-accordion id="accordionA" class="vAccordion--default" control="accordionA" onexpand="expandCallback(index, id)" oncollapse="collapseCallback(index, id)">

      <v-pane id="{{ ::pane.id }}" ng-repeat="pane in panesA" expanded="pane.isExpanded">
        <v-pane-header id="{{ ::pane.id }}-header" aria-controls="{{ ::pane.id }}-content">
          <h5>{{ ::pane.header }}</h5>
        </v-pane-header>

        <v-pane-content id="{{ ::pane.id }}-content" aria-labelledby="{{ ::pane.id }}-header">
          <p>{{ ::pane.content }}</p>

          <v-accordion id="nestedAccordionA" ng-if="pane.subpanes">
            <v-pane id="{{ ::subpane.id }}" ng-repeat="subpane in pane.subpanes" ng-disabled="subpane.isDisabled">
              <v-pane-header id="{{ ::subpane.id }}-header" aria-controls="{{ ::subpane.id }}-header">
                <h5>{{ ::subpane.header }}</h5>
              </v-pane-header>
              <v-pane-content id="{{ ::subpane.id }}-content" aria-labelledby="{{ ::subpane.id }}-content">
                <p>{{ ::subpane.content }}</p>

                <v-accordion id="subnestedAccordionA" ng-if="subpane.subsubpanes">
                  <v-pane id="{{ ::subsubpane.id }}" ng-repeat="subsubpane in subpane.subsubpanes" ng-disabled="subsubpane.isDisabled">4
                    <v-pane-header id="{{ ::subsubpane.id }}-header" aria-controls="{{ ::subsubpane.id }}-header">
                      <h5>{{ ::subsubpane.header }}</h5>
                    </v-pane-header>
                    <v-pane-content id="{{ ::subsubpane.id }}-content" aria-labelledby="{{ ::subsubpane.id }}-content">
                      <p>{{ ::subsubpane.content }}</p>
                    </v-pane-content>
                  </v-pane>
                </v-accordion>

              </v-pane-content>
            </v-pane>
          </v-accordion>

        </v-pane-content>
      </v-pane>
      <v-pane>
        <v-pane-header>
          <h5>Information</h5>
        </v-pane-header>
        <v-pane-content>
          <button type="button" class="btn btn-primary" style="margin-bottom: 10px" data-toggle="modal" data-target="#execution">Execution</button><br>
          <a class="btn btn-primary" ui-sref="viewSession" role="button">Results</a>
        </v-pane-content>

      </v-pane>

    </v-accordion>
  </div>

  <!--Flotant window-->

  <!-- Modal -->
  <div class="modal fade" id="execution" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Launch execution</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <label>Your email: </label>&nbsp;<input type="text" class="input-large" style="width: 50%;" id="email" name="email">
          </div>
          <br><br>
          <div class="row">
            <label>Upload .zip</label>&nbsp;
            <input id="input-file" type="file" class="file" data-show-preview="false" accept=".zip" file-model="file1" data-show-remove="false" data-show-upload="false">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="execution()">Send</button>
        </div>
      </div>

    </div>
  </div>


</div>

