<div class="inner-container">
<div>
  <div id="login" class="text-center" ng-hide="logged">
    <session-login></session-login>
  </div>
  <div id="sessionInfo" ng-show="logged">
    <h2>Session #{{session.id}}</h2>
    <h3>Status:
      <div style="display: inline;" ng-bind-html="sessionStatus"></div>
      <a style="color: #000;" ng-click="refresh()"><span style="font-size: 15px; margin-left: 10px;" class="glyphicon glyphicon-refresh icon-refresh"></span></a></h3>

    <div id="session-info-row" class="panel panel-default" style="margin-top: 50px;">
      <div class="panel-heading">Information summary</div>
      <div class="panel-body">
        <div class="col-sm-4">
        </div>

        <div class="col-sm-4">
          <div id="session-parameters" class="text-center">
            <h4>Session</h4>
            <h5>ID: {{session.id}}</h5>
            <h5>Email: {{session.email}}</h5>
            <h5>Model: {{session.executionId}}</h5>
            <h5 ng-show="statePrepared">Machine state: Preparing</h5>
            <h5 ng-show="stateExectuion">Machine state: Execution</h5>
            <h5 ng-show="stateFinished">Machine state: Finished</h5>
          </div>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
      </div>
      <div id="downloadResults" class="panel panel-default" style="margin-top: 50px;">
        <div class="panel-heading">Results </div>
        <div class="panel-body">
          <a id="downloadZip" ng-hide="buttonDownload" ng-href="http://localhost:8080/session/{{session.id}}/DownloadResults" class="btn btn-primary" role="button" download="results.zip"> Download results</a>
          <h5 ng-hide="messageDownload" id="message_results">You will can download the results when the execution finish</h5>
        </div>
      </div>

      <div id="session-input-row" class="panel panel-default" style="margin-top: 50px;">
        <div class="panel-heading">Input file <a style="color: #000;" ng-click="getFile()"><span style="font-size: 15px; margin-left: 10px;" class="glyphicon glyphicon-refresh icon-refresh1"></span></a></div>
        <div class="panel-body" style="overflow-y: scroll;" ng-model="divFile" id="divFile">
          <h5 ng-bind-html="loadingFile"></h5>
        </div>
      </div>

    <!--<div id="session-output-row" class="panel panel-default" style="margin-top: 50px;">
      <div class="panel-heading" style="height: 50px;">
        <div style="float: right;">
          <a ng-href="{{ url }}" ng-show="fullResults" class="btn btn-info" role="button" download="Execution_{{session.id}}_results.txt">Download full results</a>
        </div>

        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href data-target="#results">Results</a></li>
          <li ng-show="shortResults && showCharts"><a data-toggle="tab" href data-target="#charts">Charts</a></li>
        </ul>
      </div>
      <div class="panel-body">
        <div class="tab-content">
          <div id="results" class="tab-pane fade in active">
            <h4 ng-show="!shortResults && !fullResults">Results will be shown when the execution ends.</h4>
            <h4 ng-show="!shortResults && fullResults">There was an error in the execution. Please try again.</h4>
            <hm-read-more
              hm-text="{{shortResults}}"
              hm-limit="200"
              hm-more-text="Show more"
              hm-less-text="Show less"
              hm-dots-class="dots"
              hm-link-class="links"></hm-read-more>
          </div>
          <div id="charts" class="tab-pane fade">
            <h4>CPU Usage Chart (%)</h4>
            <canvas id="cpuChart" class="chart chart-line" chart-data="cpuData"
                             chart-labels="cpuLabels" chart-legend="false" chart-options="{xAxisID: 'Hola', pointHitDetectionRadius : 1}"
                              >
          </canvas>
            <h4>Memory Usage Chart (MB)</h4>
            <canvas id="memChart" class="chart chart-line" chart-data="memData"
                    chart-labels="memLabels" chart-legend="false" chart-options="{pointHitDetectionRadius : 1}"
                    >
            </canvas>
          </div>
        </div>
      </div>
    </div>-->
    </div>

  </div>
</div>
